<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Água de beber</title>
</head>
<body>
    <h1>Você está bebendo água?</h1>

    <p>Escolha o seu utensílio e descubra se a hidratação está em dia:</p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/copoamericano.png" alt="Copo americano em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/abacaxi.png" alt="Jarro em formato de abacaxi em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/garrafaminalba.png" alt="Garrafa de água plástica em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/copopiupiu.png" alt="Copo de requeijão com Piu-Piu em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/stanley.png" alt="Copo tipo Stanley em pixel art"></p>
 
</body>
</html>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Água de beber</title>
</head>
<body>
    <h1>Você está bebendo água?</h1>

    <p>Escolha o seu utensílio e descubra se a hidratação está em dia:</p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/copoamericano.png" alt="Copo americano em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/abacaxi.png" alt="Jarro em formato de abacaxi em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/garrafaminalba.png" alt="Garrafa de água plástica em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/copopiupiu.png" alt="Copo de requeijão com Piu-Piu em pixel art"></p>

    <p><img src="https://raw.githubusercontent.com/elsavillon/aguadebeber/main/static/imagens/stanley.png" alt="Copo tipo Stanley em pixel art"></p>
 
</body>
</html>
