<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Água de beber</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Sobre o projeto</h1>
        <br>
        <img src="static/recipiente/GifRecipientes.gif" alt="Gif de recipientes">
        <br>
        <p>O projeto <b>Água de Beber</b> foi desenvolvido para a disciplina de Desenvolvimento Web pela formação em Datastorytelling do Insper. 
        <br>
        <p>Os valores indicados para ingestão de água são baseados nas recomendações diárias de 2 litros, seguindo evidências gerais. Nunca deixe de seguir as orientações de um profissional da saúde para garantir os níveis adequados de hidratação de acordo com o seu estilo de vida.</p>

        <h1>Sobre quem fez</h1>
        <br>
        <p><b><a href="https://elsavillon.wixsite.com/elsavillon">Elsa Villon</a></b> é jornalista de dados em formação, especialista em Mídia, Informação e Cultura e a pessoa que fica perguntando: "Você está bebendo água?".</p>
        <br>
        <p><b><a href="https://www.behance.net/pauloakio">Paulo Akio</a></b> é sonoplasta, músico, técnico de som, pixel artist e o cara que provou que "Fora da Lei" do Ed Motta sincroniza com qualquer abertura de anime.</p>
    </div>
</body>
<footer>
    <br>
    <a href="/" class="button">Home</a>
</footer>
</html>
