<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Água de beber</title>
</head>
<h1>Você está bebendo água?</h1>

<p>Escolha o seu utensílio e descubra se a hidratação está em dia:</p>

<p> <img src="água_de_beber/static/imagens/copoamericano.png" alt="Copo americano em pixel art"> </p>

<p> <img src="água_de_beber/static/imagens/abacaxi.png" alt="Jarro em formato de abacaxi em pixel art"></p>

<p> <img src="água_de_beber/static/imagens/garrafaminalba.png" alt="Garrafa de água plástica em pixel art"></p>

<p> <img src="água_de_beber/static/imagens/copopiupiu.png" alt="Copo de requeijão com Piu-Piu em pixel art"></p>

<p> <img src="água_de_beber/static/imagens/stanley.png" alt="Copo tipo Stanley em pixel art"></p>

<body>
    
</body>
</html>