<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE</title>
</head>
<body>

    <h2> Elsa Villon</h2>
    <p>É Jornalista de dados em formação, especialista em Mídia, Informação e Cultura e a pessoa que fica perguntando: "Você está bebendo água?</p>
    <h2> Paulo Akio</h2>
    <p> É sonoplasta, músico, técnico de som, pixel artist e o cara que provou que Fora da Lei do Ed Motta sincroniza com qualquer abertura de anime.</p>    
</body>
</html>